<div>
    {% if locale == "nl" %}
        {% include partials/navigation
        nav_location: "footer"
                nav_description: "Footer navigation"
                nav_selection: navigation.footer.nl
        %}
    {% elsif locale == "en" %}
        {% include partials/navigation
        nav_location: "footer"
                nav_description: "Footer navigation"
                nav_selection: navigation.footer.en
        %}
    {% endif %}
</div>